@import "../fonts/stylesheet.css";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background: #ffffff;
    font-size: 14px;
    font-family: 'latoregular';
}
.wrapper{
    width: 60%;
    margin: 0px auto 50px;
}
.head{
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.head span{
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.wrap_gallery {
    display: block;
    width: 80%;
    margin: 40px auto 5px;
}
#photographer{
    display: block;
    width: 80%;
    text-align: right;
    margin: 0px auto 30px;
    font-size: 12px;
    font-family: 'latoitalic';
    font-weight: normal;
}
#photographer a{
    color: #07a;
    font-size: 12px;
    font-family: 'latoitalic';
    font-weight: normal;
    text-transform: none;
}
.main_title{
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    font-family: 'latoblack';
    text-transform: capitalize;
}
section{
    margin-bottom: 40px;
}
section h3{
    font-size: 14px;
    font-family: 'latoblack';
    text-transform: capitalize;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
section .section_content{
    padding: 0 5px 0 5px;
}
.selected{
    font-family: 'latoregular';
    font-weight: normal;
    background: #f1f1f1;
    color: #905;
    padding: 0 3px;
}
.browser_support_list li{
    list-style-type: disc;
    margin-left: 20px;
}
pre.cnt_code{
    margin: 10px 0 20px 0;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 6px 5px 8px 25px;
    white-space: nowrap;
}
pre.cnt_code code{
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'latoregular';
    padding: 0;
    position: relative;
    white-space: nowrap;
}
pre.cnt_code code span{
    color: #333333;
}
pre.cnt_code code .cnt_attr{
    color: #07a;
}
pre.cnt_code code .cnt_string{
    color: #df5000;
}
pre.cnt_code code .cnt_html{
    margin:4px 0 0 22px;
}
pre.cnt_code code .cnt_ul{
    margin:4px 0 0 40px;
}
pre.cnt_code code .cnt_ul div{
    margin-bottom: 5px;
}
pre.cnt_code code .options_js{
    color: #333333;
    margin-top: 6px;
}
pre.cnt_code code .options_js li{
    display: block;
    margin-bottom: 8px;
}
pre.cnt_code code .options_js_keys{
    display: inline-block;
    margin-left: 22px;
    color: #333333;
    font-size: 12px;
    font-family: 'latoregular';
}
pre.cnt_code code .options_js_val{
    display: inline-block;
    color: #905;
    font-size: 12px;
    font-family: 'latoregular';
}
.options_list tr td{
    vertical-align: top;
    padding: 0 5px 8px 5px;
}

.options_list tr td h4{
    font-size: 14px;
    font-family: 'latoblack';
    font-weight: normal;
    line-height: 20px;
}
.options_list tr td.key{
    font-size: 14px;
    font-family: 'latoregular';
    font-weight: normal;
    line-height: 20px;
}
.options_list tr td.default{
    font-size: 14px;
    font-family: 'latoregular';
    font-weight: normal;
    line-height: 20px;
    min-width: 120px;
}
.options_list tr td.value{
    font-size: 14px;
    font-family: 'latoregular';
    font-weight: normal;
    line-height: 20px;
}

#gallery{
    display: inline-block;
/*    border: 5px solid #444; */
    width: 100%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#gallery .c_large_item {
    position: relative;
}
#gallery .c_large_item img {
    display: block;
    width: 100%;
    height: 100%;
}
#gallery .c_large_item .show_caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    color: black;
    padding: 3px 5px;
}
#gallery .c_large_item .c_prev,
#gallery .c_large_item .c_next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 2px 3px;
    background: #ffffff;
    color: black;
    border: 1px solid black;
}
#gallery .c_large_item .c_prev {
    left: 0;
}
#gallery .c_large_item .c_next {
    right: 0;
}
#gallery .c_thumbnails {
    overflow: hidden;
    width: 100%;
}
#gallery .c_thumbnails .c_item {
    float: left;
    position: relative;
    border: 4px solid #cc0;
    cursor: pointer;
}
#gallery .c_thumbnails .c_item img {
    display: block;
    width: 100%;
}
#gallery .c_thumbnails .c_item .c_caption {
    display: none;
}
.img_opacity:hover {
    opacity: 0.7;
}
#gallery .c_thumbnails .c_item.active {
    border: 4px solid #ee3023;
}