@import "../fonts/stylesheet.css";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background: #ffffff;
    font-size: 14px;
    font-family: 'latoregular';
}
.clear{
    clear: both;
}



.wrapper{
    width: 60%;
    margin: 40px auto 50px;
}
.head{
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.head span{
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.wrap_gallery {
    display: block;
    width: 80%;
    margin: 40px auto 5px;
}
#photographer{
    display: block;
    width: 630px;
    text-align: right;
    margin: 5px auto 30px;
    font-size: 12px;
    font-family: 'latoitalic';
    font-weight: normal;
}
#photographer a{
    color: #07a;
    font-size: 12px;
    font-family: 'latoitalic';
    font-weight: normal;
    text-transform: none;
}
.main_title{
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    font-family: 'latoblack';
    text-transform: capitalize;
}
section{
    margin-bottom: 40px;
}
section h3{
    font-size: 14px;
    font-family: 'latoblack';
    text-transform: capitalize;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
section .section_content{
    padding: 0 5px 0 5px;
}
.selected{
    font-family: 'latoregular';
    font-weight: normal;
    background: #f1f1f1;
    color: #905;
    padding: 0 3px;
}
.browser_support_list li{
    list-style-type: disc;
    margin-left: 20px;
}
pre.cnt_code{
    margin: 10px 0 20px 0;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 6px 5px 8px 25px;
    white-space: nowrap;
}
pre.cnt_code code{
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'latoregular';
    padding: 0;
    position: relative;
    white-space: nowrap;
}
pre.cnt_code code span{
    color: #333333;
}
pre.cnt_code code .cnt_attr{
    color: #07a;
}
pre.cnt_code code .cnt_string{
    color: #df5000;
}
pre.cnt_code code .cnt_html{
    margin:4px 0 0 22px;
}
pre.cnt_code code .cnt_comments{
    color: #228B22;
}
pre.cnt_code code .cnt_ul{
    margin:4px 0 0 40px;
}
pre.cnt_code code .cnt_ul div{
    margin-bottom: 5px;
}
pre.cnt_code code .cnt_img{
    margin-left: 20px;
}
pre.cnt_code code .options_js{
    color: #333333;
    margin-top: 6px;
}
pre.cnt_code code .options_js li{
    display: block;
    margin-bottom: 8px;
}
pre.cnt_code code .options_js_keys{
    display: inline-block;
    margin-left: 22px;
    color: #333333;
    font-size: 12px;
    font-family: 'latoregular';
}
pre.cnt_code code .options_js_val{
    display: inline-block;
    color: #905;
    font-size: 12px;
    font-family: 'latoregular';
}
.options_list tr td{
    vertical-align: top;
    padding: 0 5px 8px 5px;
}

.options_list tr td h4{
    font-size: 14px;
    font-family: 'latoblack';
    font-weight: normal;
    line-height: 20px;
}
.options_list tr td.key{
    font-size: 14px;
    font-family: 'latoregular';
    font-weight: normal;
    line-height: 20px;
}
.options_list tr td.default{
    font-size: 14px;
    font-family: 'latoregular';
    font-weight: normal;
    line-height: 20px;
    min-width: 120px;
}
.options_list tr td.value{
    font-size: 14px;
    font-family: 'latoregular';
    font-weight: normal;
    line-height: 20px;
}
.gif{
    margin: 20px auto;
}

/* Slider */
.c_left, .c_right{
    position: relative;
    margin: 0 auto;
    width: 630px;
    height: 331px;
    overflow: hidden;
}
.c_bottom{
    position: relative;
    margin: 0 auto;
    width: 480px;
    height: 403px;
}
.c_main #c_inner{
    overflow: hidden;
}
.c_left #c_wrap_inner,
.c_right #c_wrap_inner,
.c_bottom #c_wrap_inner{
    position: relative;
    overflow-x: scroll;
    overflow: hidden;
    -ms-overflow-style: none;
}
#c_wrap_inner::-webkit-scrollbar,
#c_wrap_inner::-moz-scrollbar,
#c_wrap_inner:-moz-scrollbars-none,
#c_wrap_inner:-ms-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}



/* left c_sidebar */
.c_left .c_main{
    position: relative;
    padding-left: 130px;
    height: 100%;
}
.c_left .c_main #c_inner img,
.c_right .c_main #c_inner img{
    display: block;
    float: left;
    width: 500px;
    height: 333px;
    position: relative;
}
.c_bottom .c_main #c_inner img{
    display: block;
    float: left;
    width: 480px;
    height: 320px;
    position: relative;
}

#c_wrap_inner .c_main_caption{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3px 5px;
}
.c_left .scroll{
    position: relative;
}
.c_left .c_sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    overflow: hidden;
}
.c_left .c_sidebar .c_thumbnails{
    position: absolute;
    top: 0;
}
.c_left .c_sidebar_nav{
    position: absolute;
    cursor: pointer;
    z-index: 99;
    width: 24px;
    height: 20px;
    left: 48px;
}
.c_left .c_sidebar_nav.prev{
    top: 0;
    background: url("../img/top-24.png") no-repeat;
}
.c_left .c_sidebar_nav.next{
    bottom: 0;
    background: url("../img/bottom-24.png") no-repeat;
}

/* right c_sidebar */

.c_right .c_main{
    position: relative;
    padding-right: 130px;
    height: 100%;
}
.c_right .c_main{
    width: 100%;
    padding-right: 130px;
}
.c_right .c_sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    overflow: hidden;
}
.c_right .c_sidebar_nav{
    position: absolute;
    cursor: pointer;
    z-index: 99;
    width: 24px;
    height: 24px;
    right: 48px;
}
.c_right .c_sidebar_nav.prev{
    top: 0px;
    background: url("../img/top-24.png") no-repeat;
}
.c_right .c_sidebar_nav.next{
    bottom: 0px;
    background: url("../img/bottom-24.png") no-repeat;
}


/* bottom c_sidebar */

.c_bottom .c_main{
    position: relative;
}
.c_bottom .c_sidebar{
    overflow: hidden;
}
.c_bottom .c_sidebar_nav{
    position: absolute;
    cursor: pointer;
    z-index: 99;
    width: 24px;
    height: 25px;
    bottom: 10px;
    transform: translate(0, -50%);
}
.c_bottom .c_sidebar_nav.prev{
    left: 0;
    background: url("../img/back-24.png") no-repeat;
}
.c_bottom .c_sidebar_nav.next{
    right: 0;
    background: url("../img/next-24.png") no-repeat;
}
.c_bottom .c_sidebar ul{
    overflow: hidden;
}
.c_bottom .c_sidebar ul .c_item{
    float: left;
    width: 120px;
    height: 83px;
    border: 4px solid #cc0;
    cursor: pointer;
}


.c_left .c_sidebar ul .c_item,
.c_right .c_sidebar ul .c_item{
    display: block;
    border: 4px solid #cc0;
    cursor: pointer;
}
.c_left .c_sidebar ul .c_item.c_active,
.c_right .c_sidebar ul .c_item.c_active,
.c_bottom .c_sidebar ul .c_item.c_active{
    border: 4px solid #c00;
}
.c_left .c_sidebar ul .c_item img,
.c_right .c_sidebar ul .c_item img,
.c_bottom .c_sidebar ul .c_item img{
    display: block;
    width: 100%;
}
.c_sidebar ul .c_item .c_caption{
    display: none;
}





@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {
    .c_left .c_main{
        padding-left: 95px;
    }
    .c_left, .c_right{
        width: 470px;
        height: 248px;
    }
    .c_left .c_main #c_inner img,
    .c_right .c_main #c_inner img{
        width: 375px;
        height: 248px;
    }

    .c_left .c_sidebar,
    .c_right .c_sidebar{
        width: 89px;
    }
    .c_left .c_sidebar_nav{
        left: 32.5px;
    }
    .c_right .c_main{
        padding-right: 95px;
    }
    .c_right .c_sidebar_nav{
        right: 29.5px;
    }
    .c_bottom{
        height: 320px;
    }
    .c_bottom .c_main #c_inner img{
        width: 480px;
    }
}
@media screen and (max-width: 480px) {
    .c_left, .c_right {
        width: 350px;
        height: 190px;
    }
    .c_left .c_main #c_inner img,
    .c_right .c_main #c_inner img{
        width: 285px;
        height: 190px;
    }
    .c_left .c_sidebar,
    .c_right .c_sidebar {
        width: 67px;
    }
    .c_left .c_sidebar_nav {
        left: 21px;
    }
    .c_right .c_sidebar_nav {
        right:21px;
    }
    .c_left .c_main {
        padding-left: 70px;
    }
    .c_right .c_main {
        padding-right: 70px;
    }
    .c_bottom {
        width: 360px;
        height: auto;
    }
    .c_bottom .c_sidebar_nav {
        bottom: 15px;
    }
    .c_bottom .c_main #c_inner img{
        width: 360px;
        height: 233px;
    }
}
@media screen and (max-width: 360px) {
    .c_left, .c_right, .c_bottom{
        width: 300px;
    }
    .c_left, .c_right, .c_bottom{
        height: auto;
    }
    .c_left .c_sidebar,
    .c_right .c_sidebar,
    .c_bottom .c_sidebar {
        display: none;
    }
    .c_bottom .c_sidebar_nav {
        display: none;
    }
    .c_left .c_main #c_inner img,
    .c_right .c_main #c_inner img{
        width: 300px;
        height: 200px;
    }
    .c_bottom .c_main #c_inner img{
        width: 300px;
        height: 200px;
    }
    .c_left .c_main {
        padding-left: 0;
    }
    .c_right .c_main {
        padding-right: 0;
    }
    .c_left .c_sidebar_nav.prev,
    .c_left .c_sidebar_nav.next,
    .c_right .c_sidebar_nav.prev,
    .c_right .c_sidebar_nav.next{
        display: none;
    }
    .c_main_nav{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 99;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: 1px solid #fff;
    }
    .c_main_nav.prev{
        left: 0;
        background: url("../img/back-24.png") no-repeat;
    }
    .c_main_nav.next{
        right: 0;
        background: url("../img/next-24.png") no-repeat;
    }
}
