.c_large_item {
    position: relative;
    height: 400px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c_large_item img {
    display: block;
    width: 100%;
    height: 100%;
}
.c_large_item .show_caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    color: black;
    padding: 3px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c_large_item .c_prev,
.c_large_item .c_next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 2px 3px;
    background: #ffffff;
    color: black;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c_large_item .c_prev {
    left: 0;
}
.c_large_item .c_next {
    right: 0;
}
.c_thumbnails {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.c_thumbnails .c_item {
    float: left;
    position: relative;
    border: 4px solid #ffffff;
    cursor: pointer;
    box-sizing: border-box;
}
.c_thumbnails .c_item img {
    display: block;
    width: 100%;
    height: 100%;
}
.c_thumbnails .c_item .c_caption {
    display: none;
}
.img_opacity:hover {
    opacity: 0.7;
}
.c_thumbnails .c_item.active {
    border: 4px solid #ee3023;
}